# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
The lion is most handsome when looking for food.
What you seek is seeking you. Rumi.
“The world breaks everyone, and afterward, some are strong at the broken places.” – Ernest Hemingway

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
